.grid-container {
    display: grid;
    grid-template-columns: auto;
    .videos {
        padding: 0 50px;
        height: 91vh;
        overflow: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 0px 30px;
        .card {
            display: flex;
            justify-content: flex-start;
            img {
                width: 100%;
                height: 400px;
            }
        }
    }
}