
.mostrar{
    display: flex;
}
#btn-video {
    background-color: white;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding: 10px 12px;
    box-shadow: 0 1px 1px black;
    border-radius: 50%;
    position: relative;
    bottom: 240px;
    left: 855px;
    cursor: pointer;
}
.secao-descricao{
    gap: 15px 0;
    grid-column: 4 span;
}
.fa-xmark {
    background-color: white;
}


